// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Style Global
// - Utilities
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@import '~assets/styleguides/styleguides';

// Utilities
// ============================================================
.is-cursor {
  cursor: pointer;
  transition: $global-transition;

  &:active {
    opacity: 0.75;
  }
}

[title="JavaScript charts"] {
  display: none !important;
}

.is-text-center {
  text-align: center;
}

.is-text-right {
  text-align: right;
}

.is-text-left {
  text-align: left;
}

.pdf-layout-page {
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 1122px;
}

.text-color-primary-1 {
  color: $color-primary-1
}

.text-color-chart-blue-1 {
  color: $color-chart-blue-1
}

.text-color-chart-blue-4 {
  color: $color-chart-blue-4
}

.text-color-chart-blue-5 {
  color: $color-chart-blue-5
}

.bg-color-chart-blue-1 {
  background-color: $color-chart-blue-1
}

.report-gradient-bg {
  background: rgb(214,229,248);
  background: linear-gradient(0deg, rgba(214,229,248,1) 50%, rgba(237,245,255,1) 100%);
}
